.container {
  position: relative;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.taskList {
  text-align: left;
}

table {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid white;
}

th, td {
  padding: 10px 10px;
}

.eisenhowerVerticalTextTD {
  text-align:center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
  height: 7em;
}

.eisenhowerVerticalText {
  display: inline-block;
  -webkit-transform: rotate(-90.0deg);
  transform: rotate(-90.0deg);
  font-weight: bold;
  margin-left: -10em;
  margin-right: -10em;
}