.container {
  position: relative;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.taskList {
  text-align: left;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid white;
}

th, td {
  padding: 10px 10px;
}